{% block content %}
  <div class="box-dry__list">
    {% for post in term.get_posts({'post_type': 'asc_appointment'}) %}
      <div class="box-dry__item">
        <div class="box-dry__image">
          <a href="#"><img src="{{post.get_field('_cmb2_asc_app_image')}}"></a>
        </div>
        <div class="box-dry__content">
          <div class="box-dry__group-price-date">
            <div class="box-dry__price">{{ post.get_field('_cmb2_asc_app_price') }}</div>
          </div>
          <div class="box-dry__title">{{ post.title }}</div>
          <div class="box-dry__subtitle">{{ post.get_field('_cmb2_asc_app_description') }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
