{% block footer %}
  <footer id="footer" class="footer footer-wrapper">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-item">
          {% include 'footer-menu.twig' %}
        </div>

        <div class="footer-item">
        {% for key, footer in footer_widget %}
        {{acfwidget('group_footer_block', 'footer_widget-' ~ key )}}
        {% endfor %}
        </div>
      </div>

      <div id="back-to-top">Back to top</div>
    </div>
  </footer>
{% endblock %}
