{% if scroll_down %}
  <div class="scroll-down scroll-{{component_class}} scrol-bottom ">
    <div class="scroll-text text">{{ text_scroll_down }}</div>
    <div class="scroll-icon"><a href="#"></a></div>
  </div>
{% endif %}
