{% if component_class %}<div class="{{ component_class }}">{% endif %}
<div class="box-cta">
  <div class="container">
    <div class="box-cta-book">
      <div class="box-cta-book__content">{{cta_book_content}}</div>
      <a href="{{cta_link_url}}" class="button">{{cta_link_text}}</a>
    </div>
  </div>
</div>
{% if component_class %}</div>{% endif %}
