<div class="box-component {% if component_class %}{{ component_class }}{% endif %}">
{% if your_shortcode_text %}
  <div class="shortcode-text">{{ your_shortcode_text }}</div>
{% endif %}
{{shortcode(your_shortcode)}}
{% include 'box-scroll-down.twig' %}
</div>
