<select name="client_area" class="client_area select-two">
  <option selected="" disabled="" value="">Enter Your Area</option>
  <option value="Bellevue Hill">Bellevue Hill</option>
  <option value="Bondi">Bondi</option>
  <option value="Bondi Junction">Bondi Junction</option>
  <option value="Bronte">Bronte</option>
  <option value="Centennial Park">Centennial Park</option>
  <option value="Clovelly">Clovelly</option>
  <option value="Coogee">Coogee</option>
  <option value="Darling Point">Darling Point</option>
  <option value="Double Bay">Double Bay</option>
  <option value="Dover Heights">Dover Heights</option>
  <option value="Hillsdale">Hillsdale</option>
  <option value="Kingsford">Kingsford</option>
  <option value="Little Bay">Little Bay</option>
  <option value="Malabar">Malabar</option>
  <option value="Maroubra">Maroubra</option>
  <option value="Matraville">Matraville</option>
  <option value="Point Piper">Point Piper</option>
  <option value="Queens Park">Queens Park</option>
  <option value="Randwick">Randwick</option>
  <option value="Rose Bay">Rose Bay</option>
  <option value="Tamarama">Tamarama</option>
  <option value="Vaucluse">Vaucluse</option>
  <option value="Watsons Bay">Watsons Bay</option>
  <option value="Waverley">Waverley</option>
  <option value="Woollahra">Woollahra</option>
  <option value="Other">Other</option>
</select>
