<select name="client_area" class="select-two">
  <option selected="" disabled="" value="">Enter Your Area</option>
  <option>Bellevue Hill</option>
  <option>Bondi</option>
  <option>Bondi Junction</option>
  <option>Bronte</option>
  <option>Centennial Park</option>
  <option>Clovelly</option>
  <option>Coogee</option>
  <option>Darling Point</option>
  <option>Double Bay</option>
  <option>Dover Heights</option>
  <option>Hillsdale</option>
  <option>Kingsford</option>
  <option>Little Bay</option>
  <option>Malabar</option>
  <option>Maroubra</option>
  <option>Matraville</option>
  <option>Point Piper</option>
  <option>Queens Park</option>
  <option>Randwick</option>
  <option>Rose Bay</option>
  <option>Tamarama</option>
  <option>Vaucluse</option>
  <option>Watsons Bay</option>
  <option>Waverley</option>
  <option>Woollahra</option>
  <option>Other</option>
</select>
