/* zip code color */
/* red */
/* yello */
/* blue */
/* Purple */
/* Green */
/* Orange */
/* gray */
/* white */
/* highlight */
/* line 3, ../scss/_login-form.scss */
.box-form-login__title {
  font-size: 30px;
  font-family: 'BrandonGrotesqueRegular';
  text-transform: uppercase;
  color: #beaa7c;
  font-weight: normal;
  margin-bottom: 80px;
}
/* line 11, ../scss/_login-form.scss */
.box-form-login .form-pass {
  margin-bottom: 110px;
}
/* line 14, ../scss/_login-form.scss */
.box-form-login .form-submit .button {
  width: 100%;
  background: #2f313d;
}
/* line 18, ../scss/_login-form.scss */
.box-form-login .form-submit .button:hover {
  background: #ff0d0d;
}
/* line 22, ../scss/_login-form.scss */
.box-form-login .box-form-login__forgot {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  font-size: 20px;
  margin-bottom: 25px;
}
/* line 30, ../scss/_login-form.scss */
.box-form-login .box-form-login__forgot a {
  color: #ffffff;
}

/* line 36, ../scss/_login-form.scss */
.box-form-login-no-sevice {
  width: 825px;
  margin-left: -412px;
}
/* line 40, ../scss/_login-form.scss */
.box-form-login-no-sevice form {
  width: 410px;
  margin: 0 auto;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
/* line 48, ../scss/_login-form.scss */
.box-form-login-no-sevice .form-submit .button {
  width: auto;
}
/* line 51, ../scss/_login-form.scss */
.box-form-login-no-sevice .text-hieghtlight {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
/* line 56, ../scss/_login-form.scss */
.box-form-login-no-sevice .text-hieghtlight a {
  color: #ff4040;
  font-size: 26px;
}
/* line 61, ../scss/_login-form.scss */
.box-form-login-no-sevice input::-webkit-input-placeholder {
  color: #beaa7c;
}
/* line 65, ../scss/_login-form.scss */
.box-form-login-no-sevice input:-moz-placeholder {
  /* Firefox 18- */
  color: #beaa7c;
}
/* line 69, ../scss/_login-form.scss */
.box-form-login-no-sevice input::-moz-placeholder {
  /* Firefox 19+ */
  color: #beaa7c;
}
/* line 73, ../scss/_login-form.scss */
.box-form-login-no-sevice input:-ms-input-placeholder {
  color: #beaa7c;
}
/* line 76, ../scss/_login-form.scss */
.box-form-login-no-sevice .form-text {
  margin-bottom: 20px;
}
/* line 79, ../scss/_login-form.scss */
.box-form-login-no-sevice .form-text input {
  font-family: 'BrandonGrotesqueBold';
  color: #beaa7c;
  text-align: center;
}
/* line 86, ../scss/_login-form.scss */
.box-form-login-no-sevice .masseger p {
  margin-bottom: 0;
  line-height: 1.2;
}

/* line 92, ../scss/_login-form.scss */
.page-appointment-scheduling-signin,
.page-appointment-scheduling-registor,
.page-appointment-scheduling-client-choose,
.page-appointment-scheduling-confirm,
.page-appointment-scheduling-success,
.page-appointment-scheduling-forgot-password {
  padding-top: 0;
}
/* line 99, ../scss/_login-form.scss */
.page-appointment-scheduling-signin .page-title,
.page-appointment-scheduling-registor .page-title,
.page-appointment-scheduling-client-choose .page-title,
.page-appointment-scheduling-confirm .page-title,
.page-appointment-scheduling-success .page-title,
.page-appointment-scheduling-forgot-password .page-title {
  display: none;
}
/* line 102, ../scss/_login-form.scss */
.page-appointment-scheduling-signin .header-wrapper,
.page-appointment-scheduling-registor .header-wrapper,
.page-appointment-scheduling-client-choose .header-wrapper,
.page-appointment-scheduling-confirm .header-wrapper,
.page-appointment-scheduling-success .header-wrapper,
.page-appointment-scheduling-forgot-password .header-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  height: 100px;
  padding-top: 20px;
}
/* line 113, ../scss/_login-form.scss */
.page-appointment-scheduling-signin .box-form-login,
.page-appointment-scheduling-registor .box-form-login,
.page-appointment-scheduling-client-choose .box-form-login,
.page-appointment-scheduling-confirm .box-form-login,
.page-appointment-scheduling-success .box-form-login,
.page-appointment-scheduling-forgot-password .box-form-login {
  width: 490px;
  margin: 0 auto;
}

/* line 120, ../scss/_login-form.scss */
.sign-up-page {
  padding-top: 0;
}
/* line 122, ../scss/_login-form.scss */
.sign-up-page .header-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  height: 80px;
  padding-top: 20px;
}
/* line 132, ../scss/_login-form.scss */
.sign-up-page .main-nav {
  display: none;
}

/* line 137, ../scss/_login-form.scss */
.link-login {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 142, ../scss/_login-form.scss */
.link-login span {
  color: #5c5f6c;
  font-size: 22px;
}
/* line 147, ../scss/_login-form.scss */
.link-login a {
  color: #fff;
  text-transform: uppercase;
}
/* line 151, ../scss/_login-form.scss */
.link-login a:hover {
  color: #beaa7c;
}

/* line 157, ../scss/_login-form.scss */
.box-form-login__title.form-title {
  margin-bottom: 0;
  text-align: center;
}

/* line 162, ../scss/_login-form.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
}

/* line 169, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .box-form-login__title.form-title,
.page-appointment-scheduling-success .box-form-login__title.form-title {
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  padding: 10px;
}
/* line 175, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .box-form-login,
.page-appointment-scheduling-success .box-form-login {
  padding: 0 0;
}
/* line 178, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .box-form-login a.back-link,
.page-appointment-scheduling-success .box-form-login a.back-link {
  position: absolute;
  top: 13px;
  font-size: 0;
  background-image: url("../images/icon-back.png");
  width: 38px;
  height: 38px;
  left: 20px;
}
/* line 187, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .box-form-login a.back-link:hover,
.page-appointment-scheduling-success .box-form-login a.back-link:hover {
  opacity: .7;
}
/* line 193, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-image__images,
.page-appointment-scheduling-success .group-image__images {
  background: dimgrey;
  text-align: center;
  line-height: 0;
  max-height: 375px;
  overflow: hidden;
}
/* line 201, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-info,
.page-appointment-scheduling-success .group-info {
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  position: absolute;
  bottom: 215px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 219, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-info .group-name,
.page-appointment-scheduling-success .group-info .group-name {
  text-align: left;
}
/* line 222, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-info .group-name h2,
.page-appointment-scheduling-success .group-info .group-name h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
  font-family: 'BrandonGrotesqueRegular';
}
/* line 229, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-info .duration,
.page-appointment-scheduling-success .group-info .duration {
  color: #fff;
  font-size: 20px;
  background-image: url("../images/icon-times.png");
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 35px;
  text-align: left;
  padding-top: 2px;
  margin-top: 5px;
}
/* line 242, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-price .price,
.page-appointment-scheduling-success .group-price .price {
  font-size: 40px;
  border-bottom: 2px solid #afa49c;
  font-weight: bold;
}
/* line 248, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content,
.page-appointment-scheduling-success .group-content {
  padding: 10px 30px;
}
/* line 251, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content .description,
.page-appointment-scheduling-success .group-content .description {
  margin-bottom: 16px;
}
/* line 255, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content .file-upload input,
.page-appointment-scheduling-success .group-content .file-upload input {
  border: 1px solid #fff;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 262, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content .box-from-contact__button,
.page-appointment-scheduling-success .group-content .box-from-contact__button {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
/* line 267, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content .box-from-contact__button .button,
.page-appointment-scheduling-success .group-content .box-from-contact__button .button {
  background: #30323e;
  width: auto;
  padding: 10px 15px;
}
/* line 272, ../scss/_login-form.scss */
.page-appointment-scheduling-client-choose .group-content .box-from-contact__button .button:hover,
.page-appointment-scheduling-success .group-content .box-from-contact__button .button:hover {
  background-color: #ff0d0d;
}

/* line 281, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .box-form-login {
  padding-top: 0;
}
/* line 285, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .confirm-client-book {
  margin-top: 25px;
}
/* line 289, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .box-form-login__title.form-title {
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  padding: 15px;
  font-size: 24px;
}
/* line 297, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm a.back-link {
  position: absolute;
  top: 13px;
  font-size: 0;
  background-image: url("../images/icon-back.png");
  width: 38px;
  height: 38px;
  left: 20px;
}
/* line 306, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm a.back-link:hover {
  opacity: .7;
}
/* line 311, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-image {
  width: 40%;
  float: left;
  min-height: 140px;
  background: wheat;
  position: relative;
}
/* line 319, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .duration {
  color: #fff;
  font-size: 20px;
  background-image: url("../images/icon-times.png");
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 35px;
  text-align: left;
  padding-top: 2px;
  position: absolute;
  margin-top: 5px;
  bottom: 5px;
  left: 10px;
}
/* line 334, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-confirm-info {
  min-height: 140px;
  overflow: hidden;
}
/* line 338, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-confirm-info .confirm-title {
  background: #ff6666;
  padding: 10px;
}
/* line 342, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-confirm-info .confirm-date {
  background: #ed4f63;
  padding: 10px;
}
/* line 346, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-confirm-info .confirm-time {
  background: #de3860;
  padding: 10px;
}
/* line 350, ../scss/_login-form.scss */
.page-appointment-scheduling-confirm .group-confirm-info .confirm-price {
  background: #ffffff;
  padding: 10px;
}

/* line 360, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-wraper {
  padding: 0 30px 20px;
  font-size: 20px;
}
/* line 365, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-top {
  border-top: 1px solid #5f626e;
  margin-top: 10px;
  border-bottom: 1px solid #5f626e;
  padding: 10px 0;
  text-align: center;
}
/* line 373, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #5f626e;
}
/* line 378, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul h3 {
  color: #ff4040;
}
/* line 382, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul .content-top__item1 {
  padding: 10px 0 10px 35px;
  background-image: url(../images/item-1.png);
  background-repeat: no-repeat;
  background-position: 0 15px;
}
/* line 389, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul .content-top__item2 {
  padding: 10px 0 10px 35px;
  background-image: url(../images/item-2.png);
  background-repeat: no-repeat;
  background-position: 0 15px;
}
/* line 396, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul .content-top__item3 {
  text-align: center;
  padding: 15px 0;
}
/* line 400, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-mediul .content-top__item3 a {
  color: #ff4040;
  font-weight: bold;
}
/* line 408, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-bottom .content-bottom__text {
  margin-bottom: 15px;
}
/* line 412, ../scss/_login-form.scss */
.page-appointment-scheduling-success .content-bottom .content-bottom__icon .box-social__list {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 421, ../scss/_login-form.scss */
.page-appointment-scheduling-forgot-password .message {
  color: #FF5722;
  font-size: 30px;
  margin-bottom: 25px;
}

/* line 1, ../scss/_myaccount.scss */
.myaccount-main-content {
  width: 70%;
  background: #404352;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 175px;
  position: absolute;
  padding: 20px 45px 45px;
}
/* line 11, ../scss/_myaccount.scss */
.myaccount-main-content .page-title {
  color: #beaa7c;
  font-size: 30px;
  font-weight: normal;
  margin: 15px 0 40px 0;
  padding: 0;
}

/* line 20, ../scss/_myaccount.scss */
.my-account-content {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 0 -45px;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}
/* line 37, ../scss/_myaccount.scss */
.my-account-content .my-account__item {
  width: 50%;
  padding: 0 45px;
}
/* line 41, ../scss/_myaccount.scss */
.my-account-content .my-account__item .botton {
  width: 100%;
  background: #30323e;
  margin-bottom: 40px;
}
/* line 47, ../scss/_myaccount.scss */
.my-account-content .my-account__item:first-child {
  border-right: 1px solid #666975;
}

/* line 53, ../scss/_myaccount.scss */
.box-upcoming {
  text-align: left;
}
/* line 56, ../scss/_myaccount.scss */
.box-upcoming__title {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  margin: 0 0 32px 0;
}
/* line 63, ../scss/_myaccount.scss */
.box-upcoming .box-upcoming__list {
  background: #30323e;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  color: #666975;
}
/* line 71, ../scss/_myaccount.scss */
.box-upcoming .box-upcoming__item {
  font-size: 20px;
  border-bottom: 1px solid #666975;
  line-height: 1.2;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 78, ../scss/_myaccount.scss */
.box-upcoming .box-upcoming__item.active {
  color: #ff4040;
}
/* line 82, ../scss/_myaccount.scss */
.box-upcoming .box-upcoming__item:last-child {
  border: none;
}

/* line 88, ../scss/_myaccount.scss */
.date-times {
  position: absolute;
  width: 65px;
  background: #beaa7c;
}
/* line 92, ../scss/_myaccount.scss */
.date-times .time {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

/* line 97, ../scss/_myaccount.scss */
.picture-user {
  background-image: url("../images/myaccount.png");
  width: 53px;
  height: 54px;
}

/* line 104, ../scss/_myaccount.scss */
.group-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 111, ../scss/_myaccount.scss */
.group-header-menu .main-nav ul li a {
  color: #404352;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 0;
  margin: 0 27px;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid transparent;
}
/* line 123, ../scss/_myaccount.scss */
.group-header-menu .main-nav ul li a:hover {
  color: #beaa7c;
  border-bottom: 1px solid  #ff4040;
}
/* line 130, ../scss/_myaccount.scss */
.group-header-menu .main-nav ul li.current-menu-item a {
  border-bottom: 1px solid  #ff4040;
  color: #beaa7c;
}
/* line 139, ../scss/_myaccount.scss */
.group-header-menu .box-menu-myaccount a {
  color: #404352;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  padding: 1px 0;
  margin: 0 26px;
  text-transform: uppercase;
  border-bottom: 1px solid  transparent;
}
/* line 150, ../scss/_myaccount.scss */
.group-header-menu .box-menu-myaccount a:hover {
  color: #beaa7c;
  border-bottom: 1px solid  #ff4040;
}

/* line 159, ../scss/_myaccount.scss */
.box-component.box-book-now {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 166, ../scss/_myaccount.scss */
.box-component.box-book-now .shortcode-text {
  margin-bottom: 20px;
}
/* line 170, ../scss/_myaccount.scss */
.box-component.box-book-now .text_big {
  font-size: 61px;
  letter-spacing: 10px;
  margin-bottom: 15px;
}
/* line 175, ../scss/_myaccount.scss */
.box-component.box-book-now .text_big span {
  color: #ff4040 !important;
}
/* line 180, ../scss/_myaccount.scss */
.box-component.box-book-now .text_mall {
  font-size: 15px;
  color: #404352;
  margin-bottom: 40px;
  letter-spacing: 3px;
  word-spacing: 1px;
}
/* line 188, ../scss/_myaccount.scss */
.box-component.box-book-now .scroll-box-book-now {
  margin-top: 20px;
  margin-bottom: 80px;
}
/* line 191, ../scss/_myaccount.scss */
.box-component.box-book-now .scroll-box-book-now .scroll-text.text {
  color: #beaa7c;
}

/* line 197, ../scss/_myaccount.scss */
.box-from-contact__button {
  width: 100%;
  margin-top: 48px;
}

/* line 204, ../scss/_myaccount.scss */
.box-service {
  text-align: center;
  padding-top: 0;
}
/* line 208, ../scss/_myaccount.scss */
.box-service .box-service_list {
  padding: 0;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
}
/* line 216, ../scss/_myaccount.scss */
.box-service .box-service_list .box-service__item {
  width: 355px;
  padding-top: 0;
}
/* line 220, ../scss/_myaccount.scss */
.box-service .box-service_list .box-service__item .box-service__item__image {
  margin-bottom: 0;
  line-height: 0;
}
/* line 225, ../scss/_myaccount.scss */
.box-service .box-service_list .box-service__item img {
  width: 100%;
}
/* line 229, ../scss/_myaccount.scss */
.box-service .box-service_list .box-service__item:before {
  display: none;
}
/* line 235, ../scss/_myaccount.scss */
.box-service .group-box-service {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  padding-bottom: 20px;
}
/* line 244, ../scss/_myaccount.scss */
.box-service .group-box-service .box-service__item__title {
  font-size: 25px;
  font-weight: bold;
}

/* line 251, ../scss/_myaccount.scss */
.box-component.box-service-wrapper {
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}
/* line 256, ../scss/_myaccount.scss */
.box-component.box-service-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -129px;
  background-color: #404352;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 268, ../scss/_myaccount.scss */
.scroll-text.text {
  color: #beaa7c;
}

/* line 276, ../scss/_myaccount.scss */
.box-product-sale__list .box-product-sale_item:nth-child(4n+1) {
  border-bottom: 10px solid #ff6666;
}
/* line 280, ../scss/_myaccount.scss */
.box-product-sale__list .box-product-sale_item:nth-child(4n+2) {
  border-bottom: 10px solid #ee4f63;
}
/* line 283, ../scss/_myaccount.scss */
.box-product-sale__list .box-product-sale_item:nth-child(4n+3) {
  border-bottom: 10px solid #df3860;
}
/* line 287, ../scss/_myaccount.scss */
.box-product-sale__list .box-product-sale_item:nth-child(4n+4) {
  border-bottom: 10px solid #d2215d;
}
/* line 291, ../scss/_myaccount.scss */
.box-product-sale__list .box-product-sale__title {
  font-weight: 700;
}
/* line 296, ../scss/_myaccount.scss */
.box-product-sale__list .number sup {
  font-size: 35px;
}
/* line 300, ../scss/_myaccount.scss */
.box-product-sale__list .no-price {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* line 307, ../scss/_myaccount.scss */
.feature-text-height {
  line-height: 60px;
}

/* line 314, ../scss/_myaccount.scss */
.box-cta-book__content p {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
  word-spacing: 5px;
}

/* line 323, ../scss/_myaccount.scss */
.scroll-icon {
  margin-top: 30px;
}

/* line 329, ../scss/_myaccount.scss */
.form-schedule-feature .box-from-contact__button input.button, .button {
  background-image: url(../images/iconbookingnow.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
}

/* line 337, ../scss/_myaccount.scss */
.box-sidebar-faq {
  width: 20%;
  float: left;
  font-size: 12px;
}
/* line 342, ../scss/_myaccount.scss */
.box-sidebar-faq h3.sidebar-faq-title {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 15px;
}
/* line 348, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-list,
.box-sidebar-faq .sidebar-faq-extend {
  padding-left: 20px;
}
/* line 353, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-question {
  padding: 15px 0;
  cursor: pointer;
}
/* line 357, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-question p {
  margin: 0;
}
/* line 362, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-list {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555866;
  position: relative;
}
/* line 368, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-list:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #515461;
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 381, ../scss/_myaccount.scss */
.box-sidebar-faq .sidebar-faq-extend {
  color: #beaa7c;
}
/* line 385, ../scss/_myaccount.scss */
.box-sidebar-faq .faq-message-link a {
  padding: 5px 20px;
  color: #beaa7c;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #beaa7c;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
/* line 397, ../scss/_myaccount.scss */
.box-sidebar-faq .faq-message-link a:hover {
  opacity: .6;
}

/* line 403, ../scss/_myaccount.scss */
.box-faq {
  width: 80%;
  float: right;
  padding-left: 60px;
}
/* line 408, ../scss/_myaccount.scss */
.box-faq h3.box-faq-title {
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 10px;
}
/* line 414, ../scss/_myaccount.scss */
.box-faq .box-faq-question {
  border-bottom: 1px solid #585b68;
  position: relative;
}
/* line 418, ../scss/_myaccount.scss */
.box-faq .box-faq-question:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #515461;
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
}
/* line 428, ../scss/_myaccount.scss */
.box-faq .box-faq-question p {
  margin: 0;
  background-color: #404352;
  display: inline-block;
  padding: 0 5px;
  background-repeat: no-repeat;
  background-image: url(../images/icon-scrondow.png);
  position: relative;
  background-position: left center;
  padding-left: 30px;
  color: #ff4040;
  bottom: -8px;
  font-size: 20px;
}
/* line 444, ../scss/_myaccount.scss */
.box-faq .box-faq-inner {
  margin-bottom: 40px;
}
/* line 448, ../scss/_myaccount.scss */
.box-faq .box-faq-answer.content-show {
  color: #fff;
  font-size: 20px;
}

/* line 456, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale_item {
  border-bottom: 0 solid transparent;
}
/* line 459, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale_item:hover:before {
  border-bottom: 10px solid #ff4040;
}
/* line 463, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale_item:before {
  background-image: url(../images/box-shadowglossmenu.png);
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  bottom: 0;
  background-size: contain;
  background-position: bottom;
}
/* line 479, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale__title {
  position: relative;
  font-size: 20px;
  top: initial;
  line-height: 1;
  left: inherit;
  transform: inherit;
  margin-bottom: 5px;
}
/* line 489, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale__desc {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.7;
}
/* line 496, ../scss/_myaccount.scss */
.box-product-sale .service_product-glossmenu .box-product-sale__content {
  bottom: 25px;
  z-index: 9;
  padding: 0 10px;
}

/* line 505, ../scss/_myaccount.scss */
.page-gloss-menu .main-content {
  padding-bottom: 0;
}

/* line 509, ../scss/_myaccount.scss */
button.slick-prev.slick-arrow {
  left: 20px;
}

/* line 513, ../scss/_myaccount.scss */
button.slick-next.slick-arrow {
  right: 50px;
}

/* line 519, ../scss/_myaccount.scss */
.box-feature__iamge {
  max-height: 550px;
}

/* line 523, ../scss/_myaccount.scss */
.menu-footer li a,
.menu-footer li.btn a {
  font-size: 15px;
}

/* line 529, ../scss/_myaccount.scss */
.box-dry__item:before {
  content: "";
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
}
/* line 539, ../scss/_myaccount.scss */
.box-dry__item:hover:before {
  border-bottom: 10px solid #ff4040;
}

/* line 546, ../scss/_myaccount.scss */
.tax-service_product .main-content {
  padding-bottom: 0;
}

/* line 69, ../scss/customs.scss */
.form-schedule-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background: transparent;
  flex-wrap: wrap;
}
/* line 90, ../scss/customs.scss */
.form-schedule-feature .form-item {
  padding: 19px 20px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  width: 220px;
  overflow: hidden;
  text-align: left;
  color: #fff;
}
/* line 100, ../scss/customs.scss */
.form-schedule-feature .form-item:after {
  background-image: url("../images/dost1.png");
  content: "";
  position: absolute;
  width: 13px;
  height: 11px;
  right: 10px;
  top: 50%;
  transform: translatey(-50%);
  background-repeat: no-repeat;
}
/* line 113, ../scss/customs.scss */
.form-schedule-feature .form-item:first-child {
  border-radius: 30px 0 0 30px;
  padding-left: 30px;
  background-color: #ff6666;
}
/* line 118, ../scss/customs.scss */
.form-schedule-feature .form-item:first-child input {
  background-color: #ff6666;
  color: #fff;
}
/* line 124, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(2) {
  background-color: #ee4f63;
}
/* line 127, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(2):after {
  background-image: url("../images/arrow1.png");
  width: 20px;
}
/* line 132, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(2) input {
  background-color: #ee4f63;
  color: #fff;
}
/* line 138, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(3) {
  background-color: #df3860;
}
/* line 141, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(3) input {
  background-color: #df3860;
  color: #fff;
}
/* line 147, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(4) {
  border-radius: 0px 30px 30px 0;
  padding-right: 30px;
  background-color: #d2215d;
}
/* line 151, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(4):after {
  background-image: url("../images/arrow1.png");
  width: 20px;
}
/* line 155, ../scss/customs.scss */
.form-schedule-feature .form-item:nth-child(4) input {
  background-color: #d2215d;
  color: #fff;
}
/* line 161, ../scss/customs.scss */
.form-schedule-feature .form-item input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 13px;
  width: 100%;
  outline: 0;
}
/* line 170, ../scss/customs.scss */
.form-schedule-feature .form-item input:focus, .form-schedule-feature .form-item input:visited {
  border: 0;
}
/* line 175, ../scss/customs.scss */
.form-schedule-feature .form-item input:active, .form-schedule-feature .form-item input:hover {
  border: 0;
}
/* line 179, ../scss/customs.scss */
.form-schedule-feature .form-item input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
/* line 182, ../scss/customs.scss */
.form-schedule-feature .form-item input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
/* line 185, ../scss/customs.scss */
.form-schedule-feature .form-item input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
/* line 188, ../scss/customs.scss */
.form-schedule-feature .form-item input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
/* line 193, ../scss/customs.scss */
.form-schedule-feature .form-item select {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 280px;
  outline: 0;
}
/* line 202, ../scss/customs.scss */
.form-schedule-feature .form-item select optgroup,
.form-schedule-feature .form-item select option {
  background: #333;
  font-size: 15px;
}
/* line 210, ../scss/customs.scss */
.form-schedule-feature .box-from-contact__button input.button {
  background-color: #404352;
  padding: 12px 20px;
  width: auto;
}
/* line 215, ../scss/customs.scss */
.form-schedule-feature .box-from-contact__button input.button:hover {
  background-color: #d2215d;
}
/* line 220, ../scss/customs.scss */
.form-schedule-feature .message {
  position: absolute;
  background: white;
  color: red;
  text-transform: capitalize;
  width: 99%;
  left: 50%;
  top: 0;
  padding-left: 30px;
  font-weight: bold;
  transform: translateX(-50%);
  margin-right: 1px;
}

/* line 236, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-info {
  margin: 0 -50px;
}

/* line 240, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-image .cat-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 0;
  max-height: 200px;
  overflow: hidden;
  text-align: center;
}

/* line 250, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-image .cat-img img {
  visibility: hidden;
}

/* line 254, ../scss/customs.scss */
img {
  max-width: 100%;
}

/* line 258, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-info {
  margin: 0 -50px;
}

/* line 261, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-image .cat-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 0;
  max-height: 200px;
  overflow: hidden;
  text-align: center;
}

/* line 270, ../scss/customs.scss */
.page-appointment-scheduling-confirm .group-image .cat-img img {
  visibility: hidden;
}

/* line 273, ../scss/customs.scss */
img {
  max-width: 100%;
}

/* line 277, ../scss/customs.scss */
.header-top {
  background: #df3860;
  color: white;
}

/* line 283, ../scss/customs.scss */
#site-message a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* line 289, ../scss/customs.scss */
.icon-close {
  background-image: url("../images/close-icon.png");
  background-repeat: no-repeat;
  color: transparent;
  float: right;
  font-size: 0;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  cursor: pointer;
}

/* line 304, ../scss/customs.scss */
#site-message p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 311, ../scss/customs.scss */
.home .page-content-wrappre {
  background-color: transparent;
  color: #333;
}

/* line 316, ../scss/customs.scss */
#site-message {
  position: relative;
  padding: 15px 0;
}
