.branding,
.group-header-menu {
  margin-top: 30px;
}

.home .header-main {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: 9;
}

#back-to-top {
  position: fixed;
  bottom: 110px;
  right: 30px;
  z-index: 9999;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 0;
  background: #666975;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 500px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  text-indent: -999em;
}

#back-to-top:before {
  content: "\2335";
  text-indent: 0;
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 66px;
  line-height: 33px;
  font-weight: 400;
  transform: rotate(180deg);
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 0.8;
}

/* FAQ Page */
.box-sidebar-faq {
  float: left;
  width: 30%;
}

.box-faq {
  float: right;
  width: 68%;
}

.box-faq-inner {
  overflow: hidden;
  min-height: 1px;
}

.box-faq-answer {
  visibility: hidden;
  margin-top: -9999px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box-faq-answer.content-show {
  visibility: visible;
  margin-top: 0 !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
