<!-- WINE RATING FORM -->
 
<div class="form-subscribe">
  <div class="form-description">
    <p>Apologies we currently do not service your location.</p>
    <p>Please enter your email below & we will contact you when we launch in your area soon.</p>
    <p>the <span>Gloss Cortel</span> team</p>
  </div>
  
  <form id="new_post" name="new_post" method="post" action="" class="wpcf7-form" enctype="multipart/form-data">
    <div class="form-email">
      <input type="email" id="email" value="" tabindex="5" name="email" placeholder="Email Address" /> 
    </div>

    <div class="form-action">
      <input type="hidden" name="action" value="new_post" />
    </div>
  </form>
</div> <!-- END WPCF7 -->