<div class="block-thanks">
  <p>For taking an interest in our service.</p>
  <p>Please register your interest opposite & we will contact you when we launch in your rea soon.</p>
  <p>The <span>Gloss Cortel</span> team</p>
</div>

<form class="form-register-account" method="post">
  <h3>Register your interest</h3>
  <div class="form-item">
    <input type="text" value="" name="register[first_name]" class="first_name" placeholder="First Name">
  </div>
  <div class="form-item">
    <input type="text" value="" name="register[last_name]" class="last_name" placeholder="Last Name">
  </div>

  <div class="form-item">
    <input type="email" value="" name="register[email]" class="email" placeholder="Email Address">
  </div>

  <div class="form-item">
    <input type="text" value="" name="register[address]" class="address" placeholder="Address">
  </div>

  <div class="form-item">
    <input type="text" value="" name="register[postcode]" class="postcode" placeholder="Post Code">
  </div>

  <div class="form-action">
    <button type="submit" name="btnregister" class="button" >Register</button>
    <input type="hidden" name="task" value="register">
  </div>
</form>