<p>Please enter your</p>
<form id="post_code" name="post_code" method="post" action="">
  <div class="form-item">
    <input type="text" name="postcodeform[postcode]" class="field-post-code" placeholder="Post Code">
  </div>

  <div class="form-action">
    <input type="hidden" name="action" value="post_code" />
  </div>
</form>